/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

.button {
    background-color: #3493d7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .colortext {
    border-width: 1px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;
    height: 150px;
    width: 500px;
    font-size: 20px;
    background-color: rgba(127, 255, 212, 0);
    color: rgb(255, 255, 255);
  }
  
  .colortext:focus {
    border-color: #bdbdbd;
    outline: 0;
    font-size: 20px;
    box-shadow: 0 0 0 0.1rem rgba(171, 170, 170, 0.805);
  }
  
  .flex {
    background-image: url("/images/Colorful-rays.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-textarea-button {
    display: flex;
    flex-direction: column;
  }
  
  .blok2 {
    padding-left: 400px;
    padding-top: 5px;
 
  }

    @media screen and (max-width: 480px) {
      .colortext {
      height: 150px;
      width: 300px;
   }
  .blok2 {
    padding-left: 200px;
    padding-top: 5px;
 
  }
    }